<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(items.length === 0) { %>
      <% } else { %>
    <% items.forEach((i, idx) => { %> 
      <li> <%= i.item %> <%= i.done ? 'Done ' : 'Not Done ' %></td><form action="/<%= idx%>?_method=DELETE" method="POST" class="delete-form"><button type="submit">X</button></form>
      </li>

      <% }) %> <% } %>
    <form method="POST" action="/">
      New To-Do: <input type="text" name="todoItem">
      <button type="submit" >ADD TO-DO</button>
    </form>
    
  </body>
</html>
